* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 40px auto;
}

#profilePicLabel {
    opacity: .7;
}

.email {
    display: inline-flex;
    margin-left: 20px;
    color: royalblue;
    padding: 10px;
}

.email:hover {
    text-decoration: underline;
}

.navbar {
    background-color: #fcba03;
    padding-bottom: 15px;
}

.navbar-brand {
    color: black;
}

.author {
    font-size: 40px;
    font-family: 'Zilla Slab', serif;
    margin-left: 10px;
    text-align: center;
}

#profile-pic {
    width: 12rem;
    border: 4px solid #fcba03;
}

#top-row {
    margin-bottom: 20px;
}

#row-2 {
    margin-bottom: 20px;
}

#row-3 {
    margin-bottom: 20px;
}

#footer ul.social li a i {
    margin-right: 5px;
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
.btn:hover {
    background-color: RoyalBlue;
}

#duo-img {
    width: 12rem;
    align-self: center;
    padding-top: 1rem;
}

#jeopardy-img {
    width: 20rem;
    align-self: center;
    padding-top: 1rem;
}

#springs.ly-img {
    width: 100%;
}

.modal-body {
    background-image: url('../img/IMG_9919.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    alt: "Portrait of Jonathan Rhymes, age 35, Software Engineer"
}

.heroku-warning {
    color: dodgerblue;
    margin-top: 10px;
}

@media (max-width: 576px) { 
    .display-2 {
        font-size: 3rem;
    }
    #download-btn {
        margin-bottom: 10px;
    }
    .card {
        margin: 0 auto; 
        float: none;
        margin-bottom: 10px;
}
 }
